* {
    margin: 0;
    padding: 0;
}
.main--img {
    width: 100%;
    background: linear-gradient(to top , rgba(0,0,0,0),rgba(0,0,0,0.5) );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 109vh;
    position: relative;
}
.navbar 
{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon {
    width: 200px;
    float: left;
    height: 70px;
    position: absolute;
    left: 70px;
    top: 20px;
}
.logo {
    color: orange;
}