* {
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
    background-image: linear-gradient(to right bottom , rgba(176, 55, 55, 0),rgba(0, 0, 0, 0.286)),url("img/Project3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 109vh;
}
.navbar 
{
    width: 1200px;
    height: 75px;
    /* margin: auto; */
}
.icon {
    width: 200px;
    float: left;
    height: 70px;
  
}
.logo {
    color: orange;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}