* {
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
    background-image: linear-gradient(to right bottom , rgba(176, 55, 55, 0),rgba(0, 0, 0, 0.286)),url("img/Project3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 109vh;
}
.navbar 
{
    width: 1200px;
    height: 75px;
    margin: auto;
    /* overflow: hidden; */
}
.icon {
    width: 200px;
    float: left;
    height: 70px;
  
}
.logo {
    color: orange;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu {
    width: 400px;
    height: 70px;
    float: left;
}
ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    list-style: none;
     margin-left: 62px;
     margin-top: 27px;
     font-size: 14px;
}
ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
    font-weight: bold;

}
ul li a:hover {
    color: orange;
}
.search {
    width: 330px;
    margin-left: 270px;
    float: left;
}
.srch {
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orange;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    padding: 10px;
    float: left;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn {
    width: 100px;
    height: 40px;
    margin-top: 13px;
    color: white;
    background-color: orange;
    text-transform: uppercase;
    border: 2px solid orange;
    /* border-radius: 5px; */
    border-bottom-right-radius: 5px;
   
    font-size: 15px;
    float: left;
    cursor: pointer;

}
.btn:focus {
    outline: none;
}
.srch:focus {
    outline: none;
}
.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}
.content .para {
    padding-left: 30px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-top: 9%;
    letter-spacing: 1.2px;
    
}
.content .cn {
  
    width: 160px;
    height: 40px;
    background-color: orange;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
    
}
.content a {
    text-decoration: none;
    color: black;
    transition: 0.4s ease;
}
.cn:hover {
    background-color: white;
}
.content span {
    color: orange;
    font-size: 60px;
    font-weight: bold;
}
.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top , rgba(0,0,0,0.8)50% ,rgba(0,0,0,0.8)50% );
    position: absolute;
    top: 50px ;
    left: 880px;
    border-radius: 10px;
    padding: 20px;

}
.form h2 {
    padding: 8px;
    font-family: sans-serif;
    text-align: center;
    color: orange;
    background-color: white;
    border-radius: 10px;
    margin: 2px;

}
.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-right: none;
    border-top: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus {
    outline: none;
}
::placeholder {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
.form .btnn {
    width: 240px;
    height: 40px;
    color: white;
    font-size: 18px;
    border: none;
    background-color: orange;
    margin-top: 30px;
    border-radius: 10px;
}
.form .btnn:hover {
   background-color: white;
   color: orange;
}
.form .btnn a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
